header {
    background-color: #000000;
    background-image: url(https://fontmeme.com/permalink/190527/4f2dcee0326428e0921eee4bd50f730e.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #8c5aeb;
    font-family: 'Sacramento', cursive;
    font-size: 24px;
    padding-top: 130px;
    width: 100vw;
    height: 200px;
}