.character{

    &__card-container{
        position: relative;
        background-color: #4a1ca0;
        border-radius: 5px;
        box-shadow: 0 2px 25px 2px #afafaf;
        height: 260px;
        width: 200px;
        margin: 20px;
        overflow: hidden;
        color: #ffffff;
    }

    &__name{
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 18px;
    }

    &__picture{
        height: 260px;
        width: 200px;
    }

    &__house-image{
        position: absolute;
        top: 10%;
        right: 3%;
        height: 50px;
    }
}

.isdead{
    position: absolute;
    top: 85px;
    right: 18px;
}