.character-detail{

    &__container{
        display: grid;
        grid-template-columns: 200px 200px 150px;
        grid-template-rows: 100px 1fr;
        background-color: #4a1ca0;
        border-radius: 5px;
        box-shadow: 0 2px 25px 2px #afafaf;
        height: 260px;
        color: #ffffff;
    }

    &__name{
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 24px;
        grid-column: 2/4;
        grid-row: 1;
    }
    &__picture{
        height: 260px;
        width: 200px;
        grid-column: 1;
        grid-row: 1/3;
    }
    &__house-image{
        height: 150px;
        grid-area: housePic;
        grid-column: 3;
        grid-row: 2;
    }

    &__house{
        grid-area: house;
    }

    &__yob{
        grid-area: yob;
    }

    &__patronus{
        grid-area: patronus;
    }

    &__status{
        grid-area: status;
    }

}

.characteristics{
    font-family: 'Barlow Semi Condensed', sans-serif;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'house'
    'yob'
    'patronus'
    'status';
}