.filter-name{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 18px;
    margin: 20px 0 20px 0;    
}

.input{
    height: 30px;
    width: 300px;
    border-radius: 25px;
    font-family: 'Barlow Semi Condensed', sans-serif;

}